<% provide(:title, "Sign up") %>
<br>
<br>
<br>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= form_for(Customer.new) do |f| %>
		<%= render 'shared/error_messages' %>
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>
		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>
		<%= f.label :confirm_password %>
		<%= f.password_field :password_confirmation, class: 'form-control' %>
		<%= f.label :date_of_birth %>
		<%= f.date_field :dob %>
		<%= f.label(:gender, "male") %>
		<%= f.radio_button(:gender, "male", class: 'form-control' )%>
		<%= f.label(:age_adult, "female") %>
		<%= f.radio_button(:gender, "female", class: 'form-control') %>
		<%= f.label :country %>
		<%= f.text_field :country, class: 'form-control' %>
		<%= f.submit "Create my account", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
