<% provide(:title, @title) %>
<br>
<br>
<br>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1><%= @customer.name %></h1>
      <span><%= link_to "view my profile", @customer %></span>
      <span><b>Microposts:</b> <%= @customer.microposts.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @customers.any? %>
      <ul>
        <%= render @customers %>
      </ul>
    <% end %>
  </div>
</div>