<=% provide(:title, @customer.name) %>
<br>
<br>
<br>
<div class="profile_header">

     <div id="_profile_pic">
   		#left content in here
	</div>

	<div id="_profile_details">
   		<h3 style="margin: 0px; padding: 0px"><%= @customer.name %></h3>
 		<span><%= @customer.email %></span><br>
		<!--<span><%= @customer.dob %></span><br> -->
		<span><%= @customer.gender %></span>
		<span><%= @customer.country %></span>
	</div>	
	<div id="_profile_remaining">
		jai ho
	</div>
</div>

<div class="col-md-8">
    <% if @customer.microposts.any? %>
      <h3>Microposts (<%= @customer.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>


		
