<li id="micropost-<%= micropost.id %>">
  <span class="user"><%= link_to micropost.customer.name, micropost.customer %></span>
  <span class="content"><%= micropost.content %></span>
  <%= image_tag micropost.photo.url if micropost.photo? %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <br>
    <%= link_to "comment", "#" %>
    <%= link_to "like", "#" %>
    <% if current_customer?(micropost.customer) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>